* { margin: 0; padding: 0; }

#game h1 { text-align: center; font-size: 36px; margin: 100px 0; }

#game #computer li { text-align: center; display: block; }

#game #computer li:nth-child(1) { display: block; }

#game #computer li img { width: 300px; }

#game #human { text-align: center; margin-top: 50px; }

#game #human li { display: inline-block; margin: 0 10px; }

#game #human li img { width: 100px; }

#game #result { margin-top: 50px; text-align: center; }

#game #result li { width: 30px; height: 30px; line-height: 30px; border-radius: 100%; border: 2px solid #000; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); display: inline-block; margin: 0 5px; }

#game #result li.win { background-color: #047fd1; }

#game #result li.lose { background-color: #d80b1c; }

#game #result li.draw { background-color: #8f8f8f; }

.cover { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.8); z-index: 999; }

.cover .contents { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; }

.cover .contents .title { font-size: 5rem; color: #fff; font-weight: bold; }

.cover .contents button { font-size: 2rem; padding: 20px 50px; border: none; border-radius: 10px; background-color: #f0d01b; box-shadow: 0 10px 0 #cbae0d; margin-top: 20px; outline: none; }

.cover .contents button:active { box-shadow: none; transform: translateY(10px); }

.cover .contents .totalResult { color: #fff; font-size: 5rem; margin-top: 30px; text-align: center; }

#fly { position: fixed; width: 50px; height: 50px; left: 0; top: 0; display: none; }

#fly img { width: 100%; position: absolute; top: 50%; transform: translateY(-50%); }
