html { font-size: 10px; }

body { font-family: "Poppins", "Noto Sans KR"; font-size: 1.6rem; }

body.white #header { color: #111; }

body.white #header .inner #logo img.white { opacity: 0; }

body.white #header .inner #logo img.color { opacity: 1; }

body.white .pagination .swiper-pagination-bullet .dot { background-color: #111; }

body.white .pagination .swiper-pagination-bullet .name { background-color: #111; color: #fff; }

body.white .pagination .swiper-pagination-bullet-active .dot { background-color: #f52f23; }

body.white .pagination .swiper-pagination-bullet-active .name { background-color: #f52f23; color: #fff; }

#header { position: fixed; width: 100%; z-index: 99; color: #fff; }

#header .inner { padding: 0 80px; height: 180px; display: flex; justify-content: space-between; align-items: center; }

#header .inner #logo img { position: absolute; opacity: 0; transition: all 0.25s ease-in-out; }

#header .inner #logo img.white { opacity: 1; }

#header .inner #gnb ul { display: flex; }

#header .inner #gnb ul li a { display: block; padding: 20px 40px; font-weight: 700; position: relative; transition: all 0.25s ease-in-out; }

#header .inner #gnb ul li a::before { content: ""; display: block; width: 6px; height: 6px; background-color: #f52f23; border-radius: 100%; position: absolute; left: 35px; top: 0px; opacity: 0; transition: all 0.25s ease-in-out; }

#header .inner #gnb ul li a:hover::before { top: 10px; opacity: 1; }
