#search{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    .inputBox{
        padding: 5px 30px;
        border: 1px solid #d9d9d9;
        border-radius: 100px;
        display: flex;
        width: 600px;
        input{
            border: none;
            outline: none;
            height: 40px;
            flex: 1;
            font-size: 18px;
        }
    }
}
#thumbs{
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        width: 1200px;
        flex-wrap: wrap;
        li{
            width: 100px;
            a{
                display: block;
                img{
                    width: 100%;
                }
            }
        }
    }
}

.more{
    margin-top: 100px;
    text-align: center;
    .btn{
        width: 150px;
        height: 50px;
        line-height: 50px;
        border-radius: 5px;
        box-sizing: 0 5px 5px rgba(0,0,0,0.1);
        border: 1px solid #d9d9d9d9;
    }
}